In [1]:
import pandas as pd
import sklearn as skl

In [2]:
df = pd.read_csv('dataset.csv')
df.head()

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model
0,c95c777785faec8dd910d019d7278ebe,CA,Add Vehicle Success,"{""Make"":""Dodge"",""Model"":""Caravan"",""Color"":""Whi...",2022-01-16 17:03:04,android,samsung,SM-N975U
1,c95c777785faec8dd910d019d7278ebe,CA,Add Vehicle Break,{},2022-01-16 17:07:47,android,samsung,SM-N975U
2,f344be2d9a042b7444f3cc5279e38ef1,FL,Calculator View,{},2022-01-16 17:16:25,android,samsung,SM-G973U1
3,c95c777785faec8dd910d019d7278ebe,CA,Add Payment Method Success,"{""Payment Method"":""Credit"",""Tokenized Pay"":""""}",2022-01-16 17:24:22,android,samsung,SM-N975U
4,e331ed81422d8fba55520a43a872e701,IL,Sign Up Success,"{""Method"":""Apple""}",2022-01-16 17:34:51,ios,Apple,"iPhone12,1"

In [3]:
df_subscription_cancel = df[df['event_name'] == 'Subscription Premium Cancel']
df_subscription_cancel.head()

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model
438,1e50975ba98d210cf2d141ec0b7397c1,FL,Subscription Premium Cancel,{},2022-01-19 12:52:29,outofband,NaN,NaN
477,e18067187b24f5925c57486e23ff5abf,VA,Subscription Premium Cancel,{},2022-01-19 22:42:24,outofband,NaN,NaN
478,c54556dbb037662501bf2f938e6c9fd4,DE,Subscription Premium Cancel,{},2022-01-19 22:42:25,outofband,NaN,NaN
489,385f820f77b8a4ac405178faf27cda22,CA,Subscription Premium Cancel,{},2022-01-19 23:29:26,outofband,NaN,NaN
516,430d96d025d9c30dbd62aa4fd3591e98,CA,Subscription Premium Cancel,{},2022-01-17 23:30:54,outofband,NaN,NaN

In [4]:
df_user_1e5_history = df[df['userid'] == '1e50975ba98d210cf2d141ec0b7397c1']
df_user_1e5_history

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model
381,1e50975ba98d210cf2d141ec0b7397c1,FL,Wallet Opened,{},2022-01-19 05:38:47,ios,Apple,"iPhone13,3"
382,1e50975ba98d210cf2d141ec0b7397c1,FL,Chat Conversation Started,{},2022-01-19 05:39:57,ios,Apple,"iPhone13,3"
438,1e50975ba98d210cf2d141ec0b7397c1,FL,Subscription Premium Cancel,{},2022-01-19 12:52:29,outofband,NaN,NaN

In [5]:
df_user_c54_history = df[df['userid'] == 'c54556dbb037662501bf2f938e6c9fd4']
df_user_c54_history

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model
472,c54556dbb037662501bf2f938e6c9fd4,DE,Chat Conversation Started,{},2022-01-19 22:34:19,android,samsung,SM-G991U
474,c54556dbb037662501bf2f938e6c9fd4,DE,Chat Conversation Started,{},2022-01-19 22:36:15,android,samsung,SM-G991U
475,c54556dbb037662501bf2f938e6c9fd4,DE,Chat Conversation Started,{},2022-01-19 22:38:16,android,samsung,SM-G991U
478,c54556dbb037662501bf2f938e6c9fd4,DE,Subscription Premium Cancel,{},2022-01-19 22:42:25,outofband,NaN,NaN
479,c54556dbb037662501bf2f938e6c9fd4,DE,Transaction Refund,"{""Id"":""3064c45c1a47fcc774ff2d3071dd9f08"",""Amou...",2022-01-19 22:43:42,outofband,NaN,NaN

In [6]:
df_user_430_history = df[df['userid'] == '430d96d025d9c30dbd62aa4fd3591e98']
df_user_430_history

,userid,user_state,event_name,event_attributes,event_created_date,event_platform,device_manufacture,device_model
333,430d96d025d9c30dbd62aa4fd3591e98,CA,Sign Up Success,"{""Method"":""Google""}",2022-01-16 19:22:16,ios,Apple,"iPhone13,4"
334,430d96d025d9c30dbd62aa4fd3591e98,CA,Add Vehicle Success,"{""Make"":""Honda"",""Model"":""Civic"",""Temporary"":""f...",2022-01-16 19:23:22,ios,Apple,"iPhone13,4"
335,430d96d025d9c30dbd62aa4fd3591e98,CA,Add Payment Method Success,"{""Payment Method"":""Venmo""}",2022-01-16 19:24:09,ios,Apple,"iPhone13,4"
336,430d96d025d9c30dbd62aa4fd3591e98,CA,Subscription Premium,"{""Start Date"":""2022-01-16"",""Renewal Date"":""202...",2022-01-16 19:24:28,outofband,NaN,NaN
512,430d96d025d9c30dbd62aa4fd3591e98,CA,Wallet Opened,{},2022-01-17 23:26:11,ios,Apple,"iPhone13,4"
513,430d96d025d9c30dbd62aa4fd3591e98,CA,Calculator View,{},2022-01-17 23:26:59,ios,Apple,"iPhone13,4"
514,430d96d025d9c30dbd62aa4fd3591e98,CA,Chat Conversation Opened,"{""From"":""Menu""}",2022-01-17 23:27:28,ios,Apple,"iPhone13,4"
515,430d96d025d9c30dbd62aa4fd3591e98,CA,Chat Conversation Started,{},2022-01-17 23:27:38,ios,Apple,"iPhone13,4"
516,430d96d025d9c30dbd62aa4fd3591e98,CA,Subscription Premium Cancel,{},2022-01-17 23:30:54,outofband,NaN,NaN
517,430d96d025d9c30dbd62aa4fd3591e98,CA,Transaction Refund,"{""Id"":""8b58302d81c15a27545e492bdbeee2ef"",""Amou...",2022-01-17 23:32:00,outofband,NaN,NaN
518,430d96d025d9c30dbd62aa4fd3591e98,CA,Chat Conversation Opened,"{""From"":""Menu""}",2022-01-17 23:32:11,ios,Apple,"iPhone13,4"